@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');
h2{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
}
.text-head{
  font-family: 'roboto',sans-serif;
  font-style: normal;
  font-weight: 300;
  width: 90%;
  margin: auto;
}
label{
  font-weight: 700;
}
.form{
  -webkit-box-shadow: 0px 1px 11px -4px rgba(54,51,54,1);
  -moz-box-shadow: 0px 1px 11px -4px rgba(54,51,54,1);
  box-shadow: 0px 1px 11px -4px rgba(54,51,54,1);

  border-radius: 10px 20px 20px 20px;
}
.modal{
  background-color: rgba(121, 87, 87, 0.16);
}


@media (min-width: 576px) { 
  .text-head{
    width: 40%;
  }
 }
 @media (min-width: 580px) { 
  .text-head{
    width: 60%;
  }
}

  
